body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#content {
  margin-bottom: 4em;
}

.ui.dividing.header {
  margin-top: 1em;
  margin-bottom: 2em;
}

i.icon {
  margin: 0;
}


/* SEMANTIC-UI OWN CHANGES */
/*  !important; is to have this rule prevail */

.myreact.container {
  overflow-x: auto;
  margin-bottom: 50px !important;
  margin: 10px;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
}

.myreact.tableHeader { 
  font-size: .9em !important;
  font-family: 'Calibri' !important;
}

.myreact.tableHeader_1 th { 
  background-color: #ead26b !important;
}

.myreact.tableHeader_2 { 
  background-color: #aeaeae !important;
  color: #fff;
}

.myreact.tableHeader_2 td { 
  padding:10px!important; /* doesn't work */
}

.myreact.table { 
  font-size: .9em !important;
  font-family: 'Calibri' !important;
  width: max-content !important;
}

.myreact.table td {
  padding: 0.1em 0.1em !important;
}

.myreact.table .button {
  padding: .2em .2em .2em !important;
  margin-left: 0.5em !important;
  font-size: .8rem !important;
}

.myreact.table .main_investment {
  font-weight: bold !important;
  background-color: #e7ebec !important;
}

.myreact.table .good_change {
  background: #beff28 !important;
  color: #000000 !important;
}

.myreact.table .bad_change {
  background: #fa3232 !important;
  color: #ffffff !important;
}

.myreact.table .good_inv_change {
  background: #beff28 !important;
  color: #000000 !important;
}

.myreact.table .bad_inv_change {
  background: #fa3232 !important;
  color: #ffffff !important;
}

.myreact.table .dropdown_menu {
  min-width: max-content !important;
  padding-bottom: 0.5em !important;
  font-size: 1.2em !important;
}

.myreact.table .dropdown_menu .dropdown_item {
  font-size: .9em !important;
  padding: 0.4em 2em !important;
}

.myreact.table .non_sortable {
  cursor: default !important;
}

